name: Develop Deploy (Docker)

on:
  push:
    branches: [develop]
  workflow_dispatch:

jobs:
  deploy-docker:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/deploy-docker.yml
    with:
      env: dev
    secrets: inherit
